.inline_error {
	color: red;
}
.col_row {
	padding: 1%;
}
.dropdown-menu {
    float:right;
}
.right-margin-2px {
	margin: 2px;
}
.signin_body {
	background-image: url('../imgs/bg/11.jpg') !important;
	min-height: 700px;
	width: 100%;
	margin: 0 auto;
}

.register_body {
	background-image: url('../imgs/bg/1.jpg') !important;
	min-height: 700px;
	width: 100%;
	margin: 0 auto;
}

#footer {
  color: #ffffff;
  font-size: 120%;

}
.DataTable {
	
    font-size: 12px;
}
  #transactionsPortlet .dt-buttons {
    float: right !important;
    margin-left:10px;
  }
  #transactionsPortlet a.dt-button  {
	color: #ffffff;
	background: #39b3d7;
	border-color: #269abc;
	font-size: 100%;
	font-weight: bolder;
  }
  .portlet-heading {
  	/*margin-top: 10px;*/
  }
  /*
hr.style13 {
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
hr.style13 {
	border-top: 3px double #8c8b8b;
}*/
.row .col-lg-12  {
	/*margin-top: 15px;*/
}
div.required label:after {
    content: " *";
    color: red;
}
label.CmpnyHeroName {
	color: #fff;
}
.dropdown-user {
	width: 100%;
	min-width: 300px;
}
.content .width90 {
	width: 90%;
	margin: 0 auto;
}
#side .side-user {
	/*background: #333 !important;*/
}

.modal-dialog {width:600px;}
.thumbnail {margin-bottom:6px;}

#foorer {
	height: 100%;
}
#footer ul > li {    
	display: inline-flex;
    margin: 1%;
    list-style: none;
    font-size: 120%;
    padding: 2%;
}
#footer div.row ul li a {
	text-transform: uppercase;
}

#footer * {
	color: #34495e;
}

#social_share a i, #footer a i {
	border: 1px solid #333;
	padding: 10px;
	min-width: 55px;
	/*color: #333;*/
}
.share_modal_body {
	background: #00796B;
}
#social_share a i:hover,
#footer a i:hover {
	background: #34495e;
	color: #fff;
}
.width100 {
	width: 100% !important;
}
.mar_pad_1 {
	margin: 1%;
	padding: 1%;
}